/*------ imports ------*/
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import "node_modules/bootstrap/scss/bootstrap";

/*------ Variables ------*/

$white: #FFFFFF;
$orange: #FF9701;
$dark-orange: #FF5C00;
$dark: #333333;
$black: #222222;
$grey: #A4A4A4;
$lightGrey: #AAAAAA;

/*------ Mixins ------*/

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*------ Styles ------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: inherit;

    &:hover {
        color: inherit;
    }
}

img {
    max-width: 100%;
    max-height: 100%;
}

button {
    font-family: inherit;
    border: none;
    outline: none;
    cursor: pointer;
}

.container {
    width: 100%;
    height: 100%;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

/*------ Button ------*/

.orange-btn {
    @include center;
    background: linear-gradient(165.46deg, #FF9700 10.14%, #FF6800 78.17%, #FF6802 78.33%);
    border-radius: 50px;
    width: 164px;
    height: 40px;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: $white;

    &:hover {
        background: $dark-orange;
    }
}

/*------ Header ------*/

.header {
    @include center;
    background-color: $white;
    height: 80px;

    &__inner {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.nav-inner {
    height: 80px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    margin: 0;
    padding: 0;

    .nav-item {
        @include center;
        padding: 30px 25px;
        cursor: pointer;
        position: relative;

        .nav-item-link {
            transition: all 0.4s;
        }

        &:hover {

            .nav-item-link {
                color: $orange;
            }

            .item-menu {
                display: block;
            }

            .nav-arrow {
                fill: $orange;
            }
        }
    }

    .nav-arrow {
        margin-left: 10px;
        cursor: pointer;
        width: 10px;
        height: 6px;
        transition: all 0.4s;
    }

    .item-menu {
        display: none;
        list-style: none;
        background: $white;
        position: absolute;
        width: 230px;
        padding: 10px 20px;
        left: 0;
        top: 100%;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.07);
        border-radius: 0px 0px 5px 5px;
        color: $dark;
        margin: 0;
        
        li {
            padding: 5px 0; 

            &:hover {
                color: $orange;
            }
        }

        a {
            line-height: 20px;
            padding: 10px 0;
            transition: all 0.4s;
        }
    }
}

.header__btn {

    &::before {
        content: '+7 906 2-999-555';
    }

    &:hover {
        &::before {
            content: 'Заказaть звонок';
        }
    }
}

/*------ Intro ------*/

.intro {
    background: url('../images/dest/backgrounds/intro_bg.jpg') no-repeat center;
    height: 620px;
    color: $white;

    .container {
        padding-top: 140px;
        height: fit-content;
    }

    &__title {
        font-size: 58px;
        font-family: 'Manrope', sans-serif;
        line-height: 64px;
        max-width: 760px;
        font-weight: 600;
        line-height: 1.1;
    }

    &__subtitle {
        margin-top: 10px;
        font-family: 'Manrope', sans-serif;
        font-weight: 500;
        font-size: 24px;
        line-height: 30px;
    }

    &__btn {
        margin-top: 40px;
        width: 232px;
        height: 50px;
        font-size: 16px;
        line-height: 22px;
    }
}

/*------ Insta ------*/

.insta-banner {
    position: fixed;
    top: 370px;
    right: 0;
    z-index: 30;
    width: 158px;
    transform: rotate(-90deg) translateY(60px);
    box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.08);
    border-radius: 10px 10px 0 0;

    &:hover {
        color: $white;
    }

    .insta-icon {
        width: 15px;
        height: 15px;
        margin-right: 10px;
        fill: $white;
    }
}

/*------ Types ------*/

.types {
    margin: 70px 0 100px;
}

.types__card {
    display: block;
    position: relative;
    min-height: 208px;
    padding: 30px;
    background: $white;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    transition: all 0.4s;

    &::after {
        content: '';
        width: 167px;
        height: 167px;
        border-radius: 50%;
        background: linear-gradient(165.46deg, #FF9700 10.14%, #FF6800 78.17%, #FF6802 78.33%);
        position: absolute;
        top: 23px;
        right: 68px;
        z-index: 1;
    }

    &:hover {
        transform: translateY(-15px);

        .types__card-title {
            color: $orange;
        }

        .types__card-arrow {
            opacity: 1;
        }
    }

    &-title {
        font-size: 24px;
        line-height: 1.25;
        font-weight: 700;
        color: $dark;
        margin: 0;
        padding: 0;
        transition: all 0.4s;
    }

    &-arrow {
        width: 31px;
        height: 14px;
        opacity: 0;
        margin-top: 98px;
        fill: $orange;
        transition: all 0.4s;
    }

    &-img {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 2;
    }
}

/*------ About ------*/

.about__title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 36px;
    line-height: 1.28;
}

.about__description {
    margin: 0 0 50px;
    font-size: 18px;
    line-height: 1.44;
    color: $dark;
    font-weight: 400;
}

.about__logs {
    display: flex;

    .about__log-item {
        @include center;
        flex-direction: column;
        margin-right: 105px;

        .log-img {
            width: 55px;
            height: 50px;
            margin-bottom: 10px;
        }

        .log-title {
            text-align: center;
            font-size: 16px;
        }
    }
}

/*------ Projects ------*/

.projects {
    margin: 60px 0 70px;

    .container {
        @include center;
        flex-direction: column;
    }
}

.section-title {
    font-size: 36px;
    line-height: 1.28;
    text-align: center;
    color: $dark;
    margin-bottom: 50px;
    font-weight: 700;
}

.project__item {
    display: block;
    position: relative;
    margin-bottom: 30px;

    &::after {
        content: '';
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(255, 151, 1, 0.85) 0%, rgba(255, 104, 2, 0.85) 100%), url(Дом_из_клееного_бруса_6.jpg), #C4C4C4;
        border-radius: 10px;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transition: all 0.4s;
    }

    &:hover {
        &::after {
            opacity: 0.85;
        }

        .project__item-text {
            transform: translateY(-60px);
        }

        .project__item-address, .project__item-arrow {
            opacity: 1;
        }
    }

    &-img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
    
    &-text {
        font-size: 18px;
        font-weight: 700;
        line-height: 1.44;
        color: $white;
        position: absolute;
        left: 30px;
        bottom: -50px;
        z-index: 30;
        transition: all 0.4s;
    }

    &-address {
        margin-top: 5px;
        display: block;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.36;
        color: $white;
        opacity: 0;
        transition: all 0.4s;
    }

    &-arrow {
        width: 31px;
        height: 31px;
        fill: $white;
        display: block;
        margin-top: 20px;
        opacity: 0;
        transition: all 0.4s;
    }
}

.projects__btn {
    width: 168px;
    height: 50px;
    font-size: 16px;
    line-height: 22px;

    &:hover {
        color: $white;
    }
}

/*------ Benefits ------*/

.benefit-card {
    @include center;
    flex-direction: column;
    margin-bottom: 50px;
}

.benefit-img {
    width: 70px;
    height: 70px;
}

.benefit-title {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    line-height: 1.44;
}

/*------ Request ------*/

.request {
    margin: 70px 0 70px;
    background: linear-gradient(177.7deg, #FF9700 10.14%, #FF6800 78.17%, #FF6802 78.33%);
    color: $white;
    position: relative;

    .container {
        @include center;
        flex-direction: column;
        padding: 50px;
    }
}

.request__wood-1 {
    position: absolute;
    bottom: -20%;
    left: 10%;
}

.request__wood-2 {
    position: absolute;
    top: -30%;
    right: 7%;
}

.request__title {
    font-size: 42px;
    line-height: 1.38;
    text-align: center;
    font-weight: 700;
}

.request__text {
    font-size: 18px;
    line-height: 1.44;
    text-align: center;
    margin: 5px 0 20px;
}

.request__form {
    display: flex;

    label {
        color: #BABABA;
        padding: 0.75rem 0.75rem;
        transition: all 0.4s ease-in-out;
    }

    .request__input {
        width: 222px;
        height: 50px;
        border-radius: 50px;
        outline: none;
        transition: border 0.4s;
        font-size: 16px;
        line-height: 22px;
        color: $dark;

        &:hover {
            border: 1px solid #ced4da;
        }

        &:focus {
            outline: none;
            box-shadow: none;
        }
    }
    
    .request__btn {
        width: 222px;
        height: 50px;
        background: $dark;
        color: $white;
        font-family: inherit;
        font-weight: 700;
        border-radius: 50px;
        border: none;
        outline: none;
        margin-left: 10px;
        transition: all 0.4s;

        &:hover {
            background: $black;
        }
    }
}

.request__data {
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
    color: #A72800;
    margin-top: 10px;

    a {
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }
}

/*------ Info-scroll ------*/

.info-scroll {
    margin-bottom: 70px;
    color: $dark;
    font-weight: 400;

    &__text {
        max-height: 410px;
        padding-right: 33px;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            width: 5px;
        }
    
        &::-webkit-scrollbar-track {
            background: #EAEAEA;
        }
    
        &::-webkit-scrollbar-thumb {
            border-radius: 100px;
            background-color: $orange;
        }
    }

    &__title {
        font-size: 36px;
        font-weight: 700;
        line-height: 1.28;
        margin-bottom: 15px;
    }

    &__subtitle {
        font-size: 24px;
        font-weight: 700;
        line-height: 1.42;
        padding-top: 15px;
        margin-bottom: 15px;
    }

    &__paragraph {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 15px;
    }
}

/*------ Footer ------*/

.footer {
    background: $dark;
    color: $white;

    a {
        transition: color 0.4s;

        &:hover {
            color: $orange;
        }
    }
}

.upper-footer {
    font-size: 18px;
    line-height: 1.33;
    padding: 40px 0 60px;
    font-weight: 400;

    .block-title {
        margin-bottom: 20px;
        font-size: inherit;
        font-family: inherit;
        font-weight: 700;
    }

    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    &__item {
        margin-bottom: 15px;
    }

    &__list--bold {
        font-weight: 700;
    }
}

.upper-footer__insta {
    margin-top: 20px;
    font-weight: 700;

    img {
        margin-right: 8px;
    }
}

.footer__line {
    padding: 0;
    margin: 0;
    color: #7D7D7D;
    opacity: 1;
}

.lower-footer {
    font-size: 14px;
    line-height: 1.36;
    color: $lightGrey;
    padding: 25px 0;

    &__conf {
        text-decoration: underline;
        margin-left: 40px;

        &:hover {
            text-decoration: none;
        }
    }

    &__right-side {
        display: flex;
        justify-content: end;
    }
    
    .place-start {
    
        &:hover {
            .place-start__logo {
                fill: $orange;
            }
        }
    
        &__logo {
            width: 100px;
            height: 20px;
            margin-left: 6px;
            fill: #AAAAAA;
            transition: all 0.4s;
        }
    }
}

/*------ Modal ------*/

.modal-dialog {
    max-width: 270px;
    min-height: auto;
    height: fit-content;
    top: 80px;
}

.modal-content {
    border-radius: 10px;
    width: 100%;
    min-height: 290px;
    padding: 45px 26px 40px;
    position: relative;
    text-align: center;
}

.btn-close {
    @include center;
    position: absolute;
    width: 30px;
    height: 30px;
    right: 0;
    top: 0;
    background: none;
    opacity: 1;
    padding: 0;
    cursor: pointer;

    &:hover {
        opacity: 1;
    }

    .modal__close {
        width: 10px;
        height: 10px;
    }
}

.modal-title {
    font-size: 20px;
    line-height: 27px;
    color: $dark;
    font-weight: 700;
    margin-bottom: 20px;
}

.form-floating {
    label {
        padding-left: 20px;
        transition: transform 0.4s ease-in-out;
    }

    .form-control {
        padding-left: 20px;
    }
}

.modal__input {
    border-radius: 50px;
    border: 1px solid #E3E1E1;
    outline: none;
    transition: border 0.4s;
    font-size: 16px;
    line-height: 22px;
    color: #777777;

    &:hover {
        border: 1px solid #B3DAFF;
    }

    &:focus {
        outline: none;
        border: 1px solid #B3DAFF;
        box-shadow: none;
    }
}

.modal__btn {
    width: 215px;
    margin-top: 10px;
    font-size: 16px;
    line-height: 22px;
    border: none;
    outline: none;
}

.modal__data {
    font-size: 12px;
    color: $grey;
    line-height: 16px;
    margin-top: 13px;

    .data-link {
        text-decoration: underline;
        cursor: pointer;

        &:hover {
            text-decoration: none;
        }
    }
}