/*------ imports ------*/
@import "node_modules/bootstrap/scss/bootstrap";
@import "app/fonts/stylesheet";

/*------ Variables ------*/

$white: #FFFFFF;
$lightBlueBorder: #B3DAFF;
$orange: #FF9701;
$dark-orange: #FF5C00;
$red: #FF0000;
$darkRed: #A72800;
$dark: #333333;
$black: #222222;
$grey: #A4A4A4;
$lightGrey: #AAAAAA;
$extraLightGrey: #EBEBEB;
$backBtnGrey: #828282;

/*------ Mixins ------*/

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*------ Styles ------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 16px;
    overflow-x: hidden;
}

.body {
    overflow: hidden;
}

a {
    text-decoration: none;
    color: inherit;

    &:hover {
        color: inherit;
    }
}

img {
    max-width: 100%;
    max-height: 100%;
}

button {
    font-family: inherit;
    border: none;
    outline: none;
    cursor: pointer;
}

.container {
    width: 100%;
    height: 100%;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

/*------ Button ------*/

.orange-btn {
    @include center;
    background: linear-gradient(165.46deg, #FF9700 10.14%, #FF6800 78.17%, #FF6802 78.33%);
    border-radius: 50px;
    width: 164px;
    height: 40px;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: $white;

    &:hover {
        background: $dark-orange;
    }
}

/*------ Header ------*/

.header {
    @include center;
    background-color: $white;
    height: 80px;
    position: relative;
    z-index: 100;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.07);

    &__inner {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.header__menu-logo {
    display: none;
    width: 18px;
    height: 15px;
    background: transparent;

    .menu-bar {
        display: block;
        width: 18px;
        height: 2px;
        border-radius: 5px;
        background: $orange;
        transform: none;
        transition: all 0.4s;
    }

    .menu-bar + .menu-bar {
        margin-top: 4.5px;
    }

    .menu-bar--first-active {
        transform: rotate(-45deg) translate3d(-4px, 4px, 0);
        margin: 0;
    }

    .menu-bar--second-active {
        opacity: 0;
    }

    .menu-bar--third-active {
        transform: rotate(45deg) translate3d(-5px, -5px, 0);
        margin: 0;

    }
}

.nav-inner {
    height: 80px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    margin: 0;
    padding: 0;

    .nav-item {
        @include center;
        padding: 30px 23px;
        cursor: pointer;
        position: relative;

        &-link {
            transition: all 0.4s;
        }

        &:hover {

            .nav-item-link {
                color: $orange;
            }

            .item-menu {
                display: block;
            }

            .nav-arrow {
                fill: $orange;
            }
        }
    }

    .nav-arrow {
        margin-left: 10px;
        cursor: pointer;
        width: 10px;
        height: 6px;
        transition: all 0.4s;
    }

    .item-menu {
        display: none;
        list-style: none;
        background: $white;
        position: absolute;
        width: 230px;
        padding: 10px 20px;
        left: 0;
        top: 100%;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.07);
        border-radius: 0px 0px 5px 5px;
        color: $dark;
        margin: 0;
        
        li {
            padding: 5px 0; 

            &:hover {
                color: $orange;
            }
        }

        a {
            line-height: 20px;
            padding: 10px 0;
            transition: all 0.4s;
        }
    }
}

.header__btn {
    &::before {
        content: '+7 906 2-999-555';
    }

    &:hover {
        &::before {
            content: 'Заказaть звонок';
        }
    }
}

.header__small-phone {
    display: none;

    .phone-icon {
        width: 18px;
        height: 18px;
        fill: $orange;
    }
}

/*------ Drop Menu ------*/

.drop-menu {
    height: 100vh;
    width: 100vw;
    background: $white;
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;
    top: 60px;
    left: 100%;
    z-index: 50;
    transition: transform 0.4s ease;

    a {
        transition: all 0.4s;
    }
}

.drop-menu--active {
    transform: translateX(-100%);
}

.drop-menu__nav {
    list-style: none;
    margin: 0;  
    padding: 0;

    &-item {
        border-bottom: solid 1px $extraLightGrey;

        &:hover {
            color: $orange;

            .drop-menu__nav-arrow {
                fill: $dark-orange
            }
        }

        &:last-child {
            border-bottom: none;
        }
    }

    &-arrow {
        fill: $orange;
        transition: all 0.4s;
    }

    .drop-menu__item-link {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 13px 20px;
    }
}

.drop-menu__item-menu {
    list-style: none;
    background: $white;
    color: $dark;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    z-index: 60;
    transition: all 0.4s;
    margin: 0;
    padding: 0;

    .back {
        color: $backBtnGrey;
        background: $extraLightGrey;
        cursor: pointer;

        &:hover {
            color: $backBtnGrey;
        }
    }

    .drop-menu__item-arrow {
        width: 12px;
        height: 9px;
        fill: $backBtnGrey;
        transform: matrix(-1, 0, 0, 1, 0, 0);
        margin-right: 10px;
    }

    li {
        display: flex;
        align-items: center;
        padding: 13px 20px;

        &:hover {
            color: $orange;
        }
    }
}

.drop-menu__nav-arrow {
    width: 12px;
    height: 9px;
    fill: $orange;
}

.drop-menu__footer {
    padding: 20px;
    background: $dark;
    color: $white;
    height: 100%;

    .block-title {
        font-size: 16px;
        line-height: 22px;
        font-weight: 700;
        margin-bottom: 15px;
    }

    .drop-menu__contacts-inner {
        font-size: 15px;
        line-height: 1.73;
        font-weight: 400;

        a {
            display: block;
            width: 100%;

            &:hover {
                color: $orange;
            }
        }
    }

    .drop-menu__insta {
        font-size: 16px;
        line-height: 22px;
        font-weight: 700;
        margin-top: 10px;
        cursor: pointer;

        &:hover {
            color: $orange;
        }

        img {
            margin-right: 4px;
        }
    }
}

/*------ Intro ------*/

.intro {
    background: url('../images/dest/backgrounds/intro_bg.jpg') no-repeat center;
    background-size: cover;
    height: 620px;
    color: $white;

    .container {
        padding-top: 140px;
        height: fit-content;
    }

    &__title {
        font-size: 58px;
        font-family: 'Manrope', sans-serif;
        line-height: 64px;
        max-width: 760px;
        font-weight: 600;
        line-height: 1.1;
    }

    &__subtitle {
        margin-top: 10px;
        font-family: 'Manrope', sans-serif;
        font-weight: 500;
        font-size: 24px;
        line-height: 30px;
    }

    &__btn {
        margin-top: 40px;
        width: 232px;
        height: 50px;
        font-size: 16px;
        line-height: 22px;
    }
}

/*------ Insta ------*/

.insta-banner {
    position: fixed;
    top: 370px;
    right: 0;
    z-index: 30;
    width: 158px;
    transform: rotate(-90deg) translateY(60px);
    box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.08);
    border-radius: 10px 10px 0 0;

    &:hover {
        color: $white;
    }

    .insta-icon {
        width: 15px;
        height: 15px;
        margin-right: 10px;
        fill: $white;
    }
}

/*------ Types ------*/

.types {
    margin: 70px 0 100px;
}

.types__card {
    display: block;
    position: relative;
    min-height: 208px;
    padding: 30px;
    background: $white;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    transition: all 0.4s;

    &::after {
        content: '';
        width: 167px;
        height: 167px;
        border-radius: 50%;
        background: linear-gradient(165.46deg, #FF9700 10.14%, #FF6800 78.17%, #FF6802 78.33%);
        position: absolute;
        top: 23px;
        right: 68px;
        z-index: 1;
    }

    &:hover {
        transform: translateY(-15px);

        .types__card-title {
            color: $orange;
        }

        .types__card-arrow {
            opacity: 1;
        }
    }

    &-title {
        font-size: 24px;
        line-height: 1.25;
        font-weight: 700;
        color: $dark;
        margin: 0;
        padding: 0;
        transition: all 0.4s;
    }

    &-arrow {
        width: 31px;
        height: 14px;
        opacity: 0;
        margin-top: 98px;
        fill: $orange;
        transition: all 0.4s;
    }

    &-img {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 2;
    }
}

/*------ About ------*/

.about {
    position: relative;
}

.about__title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 36px;
    line-height: 1.28;
}

.about__description {
    margin: 0 0 50px;
    font-size: 18px;
    line-height: 1.44;
    color: $dark;
    font-weight: 400;
}

.about__log {
    padding-top: 10px;
}

.about__logs {
    display: flex;
    padding-left: 15px;

    .about__log-item {
        @include center;
        flex-direction: column;
        margin-right: 90px;

        .log-img {
            width: 55px;
            height: 50px;
            margin-bottom: 10px;
        }

        .log-title {
            text-align: center;
            font-size: 16px;
            line-height: 1.62;
        }
    }
}

/*------ Projects ------*/

.projects {
    margin: 75px 0 70px;

    .container {
        @include center;
        flex-direction: column;
    }
}

.section-title {
    font-size: 36px;
    line-height: 1.28;
    text-align: center;
    color: $dark;
    margin-bottom: 50px;
    font-weight: 700;
}

.project__item {
    display: block;
    position: relative;
    margin-bottom: 30px;
    height: 300px;

    &::before {
        content: '';
        width: 100%;
        height: 100%;
        border-radius: 10px;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 64.58%, #000000 100%);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
    }

    &::after {
        content: '';
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(255, 151, 1, 0.85) 0%, rgba(255, 104, 2, 0.85) 100%), #C4C4C4;
        border-radius: 10px;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        z-index: 10;
        transition: all 0.4s;
    }

    &:hover {
        &::after {
            opacity: 0.85;
        }

        .project__item-text {
            transform: translateY(-60px);
        }

        .project__item-address, .project__item-arrow {
            opacity: 1;
        }
    }

    &-img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        object-fit: cover;
    }
    
    &-text {
        font-size: 18px;
        font-weight: 700;
        line-height: 1.44;
        color: $white;
        position: absolute;
        left: 30px;
        bottom: -50px;
        z-index: 30;
        transition: all 0.4s;
    }

    &-address {
        margin-top: 5px;
        display: block;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.36;
        color: $white;
        opacity: 0;
        transition: all 0.4s;
    }

    &-arrow {
        width: 31px;
        height: 31px;
        fill: $white;
        display: block;
        margin-top: 20px;
        opacity: 0;
        transition: all 0.4s;
    }
}

.projects__btn {
    width: 168px;
    height: 50px;
    font-size: 16px;
    line-height: 22px;

    &:hover {
        color: $white;
    }
}

/*------ Benefits ------*/

.benefits {
    position: relative;
}

.benefit-card {
    @include center;
    flex-direction: column;
    margin-bottom: 43px;
}

.benefit-img {
    width: 70px;
    height: 70px;
}

.benefit-title {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    line-height: 1.44;
}

/*------ Request ------*/

.request {
    margin: 20px 0 70px;
    background: linear-gradient(177.7deg, #FF9700 10.14%, #FF6800 78.17%, #FF6802 78.33%);
    color: $white;
    position: relative;

    .container {
        @include center;
        flex-direction: column;
        padding: 50px;
    }
}

.request__wood-1 {
    position: absolute;
    bottom: -20%;
    left: 10%;
}

.request__wood-2 {
    position: absolute;
    top: -30%;
    right: 7%;
}

.request__title {
    font-size: 42px;
    line-height: 1.38;
    text-align: center;
    font-weight: 700;
}

.request__text {
    font-size: 18px;
    line-height: 1.44;
    text-align: center;
    margin-bottom: 30px;
}

.request__form {
    display: flex;

    label {
        color: #BABABA;
        padding: 0.75rem 0.75rem;
        transition: all 0.4s ease-in-out;
    }

    .request__input {
        width: 222px;
        height: 50px;
        border-radius: 50px;
        outline: none;
        transition: border 0.4s;
        font-size: 16px;
        line-height: 22px;
        color: $dark;

        &:hover {
            border: 1px solid #ced4da;
        }

        &:focus {
            outline: none;
            box-shadow: none;
        }
    }

    .wrong-input {
        &:hover {
            border: 1px solid $red;
        }

        &:focus {
            border: 1px solid $red; 
        }
    }
    
    .request__btn {
        width: 222px;
        height: 50px;
        background: $dark;
        color: $white;
        font-family: inherit;
        font-weight: 700;
        border-radius: 50px;
        border: none;
        outline: none;
        margin-left: 10px;
        transition: all 0.4s;

        &:hover {
            background: $black;
        }
    }
}

.request__data {
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
    color: $darkRed;
    margin-top: 10px;
    margin-bottom: 0;

    a {
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }
}

/*------ Info-scroll ------*/

.info-scroll {
    margin-bottom: 70px;
    color: $dark;
    font-weight: 400;

    &__text {
        max-height: 410px;
        padding-right: 33px;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            width: 5px;
        }
    
        &::-webkit-scrollbar-track {
            background: $extraLightGrey;
        }
    
        &::-webkit-scrollbar-thumb {
            border-radius: 100px;
            background-color: $orange;
        }
    }

    &__title {
        font-size: 36px;
        font-weight: 700;
        line-height: 1.28;
        margin-bottom: 15px;
    }

    &__subtitle {
        font-size: 24px;
        font-weight: 700;
        line-height: 1.42;
        padding-top: 15px;
        margin-bottom: 15px;
    }

    &__paragraph {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 15px;
    }
}

/*------ Footer ------*/

.footer {
    background: $dark;
    color: $white;

    a {
        transition: color 0.4s;

        &:hover {
            color: $orange;
        }
    }
}

.upper-footer {
    font-size: 18px;
    line-height: 1.33;
    padding: 40px 0 50px;
    font-weight: 400;

    .block-title {
        margin-bottom: 20px;
        font-size: inherit;
        font-family: inherit;
        font-weight: 700;
    }

    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    &__item {
        margin-bottom: 10px;
    }

    &__list--bold {
        font-weight: 700;
    }
}

.upper-footer__insta {
    margin-top: 20px;
    font-weight: 700;

    img {
        margin-right: 8px;
    }
}

.footer__line {
    padding: 0;
    margin: 0;
    color: #7D7D7D;
    opacity: 1;
}

.lower-footer {
    font-size: 14px;
    line-height: 1.36;
    color: $lightGrey;
    padding: 25px 0;

    &__conf {
        text-decoration: underline;
        margin-left: 40px;

        &:hover {
            text-decoration: none;
        }
    }

    &__right-side {
        display: flex;
        justify-content: end;
    }
    
    .place-start {
    
        &:hover {
            .place-start__logo {
                fill: $orange;
            }
        }
    
        &__logo {
            width: 100px;
            height: 20px;
            margin-left: 6px;
            fill: $lightGrey;
            transition: all 0.4s;
        }
    }
}

/*------ Background Logs ------*/

.bg-log {
    position: absolute;
    opacity: 0.07;
    z-index: -1;
    max-width: fit-content;
    max-height: fit-content;
}

.bg-log--first {
    transform: rotate(-16.34deg);
    bottom: -85%; 
    right: -7%;
}

.bg-log--second {
    top: -52%;
    left: -4.3%;
}

/*------ Modal ------*/

.modal-dialog {
    max-width: 270px;
    min-height: auto;
    height: fit-content;
    top: 80px;
}

.modal-content {
    border-radius: 10px;
    width: 100%;
    min-height: 290px;
    padding: 45px 26px 40px;
    position: relative;
    text-align: center;
}

.btn-close {
    @include center;
    position: absolute;
    width: 30px;
    height: 30px;
    right: 0;
    top: 0;
    background: none;
    opacity: 1;
    padding: 0;
    cursor: pointer;

    &:hover {
        opacity: 1;
    }

    .modal__close {
        width: 10px;
        height: 10px;
    }
}

.modal-title {
    font-size: 20px;
    line-height: 27px;
    color: $dark;
    font-weight: 700;
    margin-bottom: 20px;
}

.form-floating {
    label {
        padding-left: 20px;
        transition: transform 0.4s ease-in-out;
    }

    .wrong-label {
        color: $red;
        font-size: 13px;
        transition: none;
        transform: scale(.85) translateY(-.5rem) translateX(.15rem);
    }

    .form-control {
        padding-left: 20px;
    }
}

.modal__input {
    border-radius: 50px;
    border: 1px solid #E3E1E1;
    outline: none;
    transition: border 0.4s;
    font-size: 16px;
    line-height: 22px;
    color: #777777;

    &:hover {
        border: 1px solid $lightBlueBorder;
    }

    &:focus {
        outline: none;
        border: 1px solid $lightBlueBorder;
        box-shadow: none;
    }
}

.wrong-input {
    border: solid 1px $red;

    &:hover {
        border: 1px solid $red;
    }

    &:focus {
        border: 1px solid $red; 
    }
}

.modal__btn {
    width: 215px;
    margin-top: 10px;
    font-size: 16px;
    line-height: 22px;
    border: none;
    outline: none;
}

.modal__data {
    font-size: 12px;
    color: $grey;
    line-height: 16px;
    margin-top: 13px;

    .data-link {
        text-decoration: underline;
        cursor: pointer;

        &:hover {
            text-decoration: none;
        }
    }
}

/*------ Media ------*/

@media (max-width: 1500px) {
    .request__wood-2 {
        height: 215px;
    }
}

@media (min-width: 1200px) {

    .drop-menu {
        display: none;
    }
}

@media (max-width: 1200px) {

    .container {
        padding: 0 20px;
    }

    .header {
        height: 60px;
        box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.09);

        &__menu-logo {
            display: block;
        }
    
        &__logo {
            width: 92px;
            height: 42px;
        }
    
        &__nav {
            display: none;
        }
    
        &__btn {
            display: none;
        }
        
        &__small-phone {
            display: block;
        }
    }
    
    .insta-banner {
        display: none;
    }

    .request__wood-1, .request__wood-2 {
        display: none;
    }

    .intro {
        height: 450px;

        &__title {
            font-size: 28px;
            line-height: 1.21;
        }
    
        &__subtitle {
            font-size: 15px;
            line-height: 1.4;
        }
    }

    .bg-log {
        display: none;
    }

    .types {
        margin: 35px 0;

        &__card {
            min-height: 157px;
            height: 157px;

            &:hover {
                transform: none;
            }
    
            &::after {
                width: 127px;
                height: 127px;
                top: 16px;
                right: 53px;
            } 

            &-title {
                font-size: 20px;
                line-height: 27px;  
            }
        
            &-img {
                width: 176px;
                height: 131px;
            }

            &-arrow {
                margin-top: 70px;
            }
        }
    }

    .about {

        &__title {
            font-size: 20px;
            line-height: 1.3;
            margin-bottom: 5px;
        }

        &__description {
            font-size: 13px;
            line-height: 1.54;
            margin-bottom: 20px;

            br {
                display: none;
            }
        }

        &__logs {

            .about__log-item {
                margin-right: 60px;
                
                .log-title {
                    font-size: 13px;
                    line-height: 1.54;
                }
        
                .log-img {
                    width: 35px;
                    height: 35px;
                }
            }
        }
    }

    .section-title {
        font-size: 20px;
        line-height: 1.3;
        margin-bottom: 20px;
    }

    .projects {
        margin-bottom: 50px;
    }

    .project__item {
        &-text {
            font-size: 15px;
            line-height: 21px;
            bottom: -30px;
        }

        &-address {
            font-size: 13px;
            line-height: 1.54;
        }

        &-arrow {
            width: 23px;
            height: 11px;
        }
    }

    .benefit-card {
        margin-bottom: 20px;
    }

    .benefit-img {
        width: 40px;
        height: 40px;
    }

    .benefit-title {
        font-size: 13px;
        line-height: 1.54;
    }

    .request {
        margin-bottom: 35px;

        .container {
            padding: 40px;
        }

        &__title {
            font-size: 20px;
            line-height: 1.3;
        }

        &__text {
            font-size: 13px;
            line-height: 1.54;
        }
    }

    .info-scroll {
        margin-bottom: 35px;
    }

    .upper-footer {
        padding: 35px 0;
    }

    .lower-footer {
        padding: 20px 0;
    }
}

@media (max-width: 1000px) {

    .types__card {
        margin-bottom: 15px;
    }

    .info-scroll__text {
        max-height: 350px;
    }

    .upper-footer {
        padding: 30px 0 5px;

        .block-title {
            font-size: 16px;
            line-height: 22px;
        }

        &__list {
            margin-bottom: 35px;
            font-size: 15px;
            line-height: 1.73;
        }
    }

    .lower-footer {
        &__left-side {
            display: flex;
            flex-direction: column;
            text-align: center;
        } 

        &__conf {
            text-align: center;
            margin-top: 10px;
            margin-left: 0;
        }

        &__right-side {
            margin-top: 10px;
            text-align: center;
            justify-content: center;
        }
    }
}

@media (max-width: 768px) {

    .intro {
        background: url("../images/dest/backgrounds/small_intro-bg.jpg") no-repeat;
        background-size: cover;
        background-position: center;
        height: 390px;

        .container {
            padding-top: 70px;   
        }

        &__btn {
            margin-top: 50px;
        }
    }

    .types {

        .container {
            display: flex;
            justify-content: center;
        }

        &__card {
            max-width: 370px;
        }
    }

    .about__logs {
        flex-direction: column;
        align-items: start;

        .about__log-item {
            flex-direction: row;
            display: flex;
            margin-bottom: 15px;

            br {
                display: none;
            }
        }

        .log-title {
            margin-left: 15px;
        }
    }

    .about__log {
        display: none;
    }

    .projects {
        margin-top: 20px;
    }

    .request__form {
        flex-direction: column;

        .request__input {
            width: 260px;
        }
        
        .request__btn {
            margin: 10px 0 0;
            width: 260px;
        }
    }

    .info-scroll {

        &__text {
            margin-top: 20px;
        }

        &__img {
            width: 100%;
        }

        &__title {
            font-size: 20px;
            line-height: 27px;
            margin-bottom: 10px;
        }

        &__subtitle {
            font-size: 18px;
            line-height: 1.3;
            margin-bottom: 15px;
            padding: 0;
        }

        &__paragraph {
            font-size: 13px;
            line-height: 1.54;
            margin-bottom: 10px;
        }
    }
}

@media (max-width: 575px) {

    br {
        display: none;
    }

    .about__log-item {
        margin-bottom: 0;
    }

    .types__card {
        max-width: 100%;
    }

    .project__item {
        height: 227px;
        margin-bottom: 15px;
    }

    .benefit-card {
        display: flex;
        flex-direction: row;
        justify-content: start;
        margin-bottom: 10px;

        .benefit-title {
            margin-left: 20px;
            text-align: start;
        }
    }

    .upper-footer {
        padding: 30px 0 30px;

        br {
            display: block;
        }
    }
}

@media (max-width: 350px) {
    .types__card {
        padding: 10px;
    }
}
